<!DOCTYPE html>
<html>
<head>
  <title>食品一覧</title>
  <%= stylesheet_link_tag 'style' %>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </header>
  <div class="filter-container">
    <%= form_with(url: foods_path, method: :get, local: true) do %>
      <label for="prefecture">都道府県:</label>
      <select name="prefecture" id="prefecture">
        <option value="すべて">すべて</option>
        <% Prefecture.all.each do |prefecture| %>
          <option value="<%= prefecture.name %>" <%= 'selected' if params[:prefecture] == prefecture.name %>><%= prefecture.name %></option>
        <% end %>
      </select>
      <%= submit_tag "表示" %>
    <% end %>
  </div>

  <div class="prefecture-container">
    <% @foods_by_prefecture.each do |prefecture, foods| %>
      <section id="<%= prefecture.parameterize %>" class="prefecture-section">
        <h2><%= prefecture %></h2>
        <div class="food-list">
          <% foods.each do |food| %>
            <div class="food-item">
              <h3><%= link_to food.name, food_path(food) %></h3>
              <%= image_tag food.image_url, alt: food.name, class: "food-image" if food.image_url.present? %>
            </div>
          <% end %>
        </div>
      </section>
    <% end %>
  </div>
</body>
</html>
